node-red/data_parser
[{"id":"d967d03b.2db4b","type":"debug","z":"540a2cd0.47bb04","name":"","active":false,"console":"false","complete":"payload","x":446,"y":149,"wires":[]},{"id":"5360ade9.772954","type":"tcp in","z":"540a2cd0.47bb04","name":"","server":"server","host":"","port":"5984","datamode":"stream","datatype":"utf8","newline":",","topic":"","base64":false,"x":129,"y":150,"wires":[["d967d03b.2db4b","ac85e294.36c64"]]},{"id":"ac85e294.36c64","type":"switch","z":"540a2cd0.47bb04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"waterLevel","vt":"str","case":false},{"t":"regex","v":"light","vt":"str","case":false},{"t":"regex","v":"airTemp","vt":"str","case":false},{"t":"regex","v":"waterTemp","vt":"str","case":false},{"t":"regex","v":"humidity","vt":"str","case":false},{"t":"regex","v":"pH","vt":"str","case":false}],"checkall":"true","outputs":6,"x":272,"y":251,"wires":[[],[],[],[],[],[]]}]
