node-red/example_dashboard
[{"id":"3458888d.cba778","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"a8753e9c.578ac","type":"debug","z":"4fdfa043.b0206","name":"Debug","active":true,"console":"false","complete":"payload","x":401,"y":327,"wires":[]},{"id":"85364505.da72f8","type":"mqtt in","z":"4fdfa043.b0206","name":"","topic":"AirTemp","broker":"3458888d.cba778","x":139,"y":151,"wires":[["a8753e9c.578ac","a0ca080a.4e1518"]]},{"id":"ce7c2250.ddc0d","type":"mqtt in","z":"4fdfa043.b0206","name":"","topic":"pH","broker":"3458888d.cba778","x":126,"y":213,"wires":[["a8753e9c.578ac","a7969696.5c6308"]]},{"id":"a0ca080a.4e1518","type":"freeboard","z":"4fdfa043.b0206","name":"AirTemp","x":334,"y":149,"wires":[]},{"id":"a7969696.5c6308","type":"freeboard","z":"4fdfa043.b0206","name":"pH","x":329,"y":217,"wires":[]},{"id":"2e60e715.c46358","type":"freeboard","z":"4fdfa043.b0206","name":"Light","x":334,"y":390,"wires":[]},{"id":"5830d765.b845a8","type":"mqtt in","z":"4fdfa043.b0206","name":"","topic":"Light","broker":"3458888d.cba778","x":132,"y":391,"wires":[["2e60e715.c46358","a8753e9c.578ac"]]},{"id":"ac423eda.b116b","type":"mqtt in","z":"4fdfa043.b0206","name":"","topic":"WaterLevel","broker":"3458888d.cba778","x":145,"y":473,"wires":[["a8753e9c.578ac","4894e977.51b048"]]},{"id":"4894e977.51b048","type":"freeboard","z":"4fdfa043.b0206","name":"WaterLevel","x":350,"y":473,"wires":[]},{"id":"508a65c3.e5164c","type":"mqtt in","z":"4fdfa043.b0206","name":"","topic":"WaterTemp","broker":"3458888d.cba778","x":152,"y":533,"wires":[["953323a5.b7643","a8753e9c.578ac"]]},{"id":"953323a5.b7643","type":"freeboard","z":"4fdfa043.b0206","name":"WaterTemp","x":347,"y":533,"wires":[]},{"id":"22ea57cb.242e78","type":"mqtt in","z":"4fdfa043.b0206","name":"","topic":"Humidity","broker":"3458888d.cba778","x":138,"y":92,"wires":[["672d9f7f.22001"]]},{"id":"672d9f7f.22001","type":"freeboard","z":"4fdfa043.b0206","name":"Humidity","x":333,"y":92,"wires":[]}]

