node-red/example_dashboard
[{"id":"6038cc03.9fc734","type":"switch","z":"6991d74f.966e28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"waterLevel","vt":"str"},{"t":"cont","v":"light","vt":"str"},{"t":"cont","v":"airTemp","vt":"str"},{"t":"cont","v":"waterTemp","vt":"str"},{"t":"cont","v":"humidity","vt":"str"},{"t":"cont","v":"pH","vt":"str"}],"checkall":"true","outputs":6,"x":280.2954406738281,"y":347,"wires":[["b00d8f6d.4ff27"],["dff068ca.200f98"],["9a93b64a.656c48"],["82a72737.7d58d8"],["763b3682.89c4c8"],["fbc16098.043ea"]]},{"id":"65f752bb.9a08ac","type":"tcp in","z":"6991d74f.966e28","name":"","server":"server","host":"","port":"5984","datamode":"stream","datatype":"utf8","newline":",","topic":"","base64":false,"x":165.29544067382812,"y":193,"wires":[["6038cc03.9fc734"]]},{"id":"b00d8f6d.4ff27","type":"function","z":"6991d74f.966e28","name":"Water Level","func":"msg.payload={WaterLevel1:msg.payload.slice(16,18)};\nreturn msg;","outputs":1,"noerr":0,"x":477.4790954589844,"y":250.577880859375,"wires":[["a9804ae6.567fb8"]]},{"id":"dff068ca.200f98","type":"function","z":"6991d74f.966e28","name":"Light","func":"msg.payload={Light:msg.payload.slice(9,17)};\nmsg.topic=\"Light\";\nreturn msg;","outputs":1,"noerr":0,"x":463.4862976074219,"y":285.9490661621094,"wires":[["bf178710.40e878"]]},{"id":"9a93b64a.656c48","type":"function","z":"6991d74f.966e28","name":"Air Temp","func":"msg.payload={AirTemp:msg.payload.slice(12,17)};\nreturn msg;","outputs":1,"noerr":0,"x":480.4811096191406,"y":321.9452209472656,"wires":[["82515bbf.7daea8"]]},{"id":"82a72737.7d58d8","type":"function","z":"6991d74f.966e28","name":"Water Temp","func":"msg.payload={WaterTemp:msg.payload.slice(14,19)};\nreturn msg;","outputs":1,"noerr":0,"x":490.4811096191406,"y":357.9524230957031,"wires":[["b2bfa14a.4d406"]]},{"id":"763b3682.89c4c8","type":"function","z":"6991d74f.966e28","name":"Humidity","func":"msg.payload={Humidity:msg.payload.slice(13,17)};\nreturn msg;","outputs":1,"noerr":0,"x":483.4862976074219,"y":394.9539794921875,"wires":[["99948478.666b78"]]},{"id":"fbc16098.043ea","type":"function","z":"6991d74f.966e28","name":"pH","func":"msg.payload={pH:msg.payload.slice(7,10)};\nreturn msg;","outputs":1,"noerr":0,"x":466.4804382324219,"y":434.94970703125,"wires":[["13a04e2.fec5fb2","219946b6.de66ba"]]},{"id":"a9804ae6.567fb8","type":"freeboard","z":"6991d74f.966e28","name":"waterlevel","x":697.4855651855469,"y":245.091552734375,"wires":[]},{"id":"bf178710.40e878","type":"freeboard","z":"6991d74f.966e28","name":"light","x":685.4786071777344,"y":287.0904846191406,"wires":[]},{"id":"82515bbf.7daea8","type":"freeboard","z":"6991d74f.966e28","name":"airtemp","x":683.4830627441406,"y":321.0934143066406,"wires":[]},{"id":"b2bfa14a.4d406","type":"freeboard","z":"6991d74f.966e28","name":"watertemp","x":684.4814147949219,"y":361.0902099609375,"wires":[]},{"id":"99948478.666b78","type":"freeboard","z":"6991d74f.966e28","name":"humidity","x":691.4861755371094,"y":396.09197998046875,"wires":[]},{"id":"13a04e2.fec5fb2","type":"freeboard","z":"6991d74f.966e28","name":"ph","x":676.4861755371094,"y":438.0926818847656,"wires":[]},{"id":"219946b6.de66ba","type":"debug","z":"6991d74f.966e28","name":"","active":true,"console":"false","complete":"payload","x":612.486572265625,"y":184.19241333007812,"wires":[]}]
