node-red/example_dashboard
[{"id":"d1adde24.cf3f5","type":"switch","z":"3bbff9a3.5c6156","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"waterLevel","vt":"str"},{"t":"cont","v":"light","vt":"str"},{"t":"cont","v":"airTemp","vt":"str"},{"t":"cont","v":"waterTemp","vt":"str"},{"t":"cont","v":"humidity","vt":"str"},{"t":"cont","v":"pH","vt":"str"}],"checkall":"true","outputs":6,"x":205,"y":302.8075866699219,"wires":[["26942198.d4ac8e"],["8f78172e.bc06d8"],["4e28f41.b65b00c"],["2d51d371.7a80ec"],["7ca9af4a.27c0d"],["a6efaf49.5d322"]]},{"id":"2a913e44.148bb2","type":"tcp in","z":"3bbff9a3.5c6156","name":"","server":"server","host":"","port":"5984","datamode":"stream","datatype":"utf8","newline":",","topic":"","base64":false,"x":90,"y":148.80758666992188,"wires":[["d1adde24.cf3f5"]]},{"id":"26942198.d4ac8e","type":"function","z":"3bbff9a3.5c6156","name":"Water Level","func":"msg.payload={WaterLevel1:msg.payload.slice(16,18)};\nreturn msg;","outputs":1,"noerr":0,"x":402.18365478515625,"y":206.38546752929688,"wires":[["8e5cd0ca.ac87e"]]},{"id":"8f78172e.bc06d8","type":"function","z":"3bbff9a3.5c6156","name":"Light","func":"msg.payload={Light:msg.payload.slice(9,17)};\nmsg.topic=\"Light\";\nreturn msg;","outputs":1,"noerr":0,"x":388.19085693359375,"y":241.75665283203125,"wires":[["96eb80de.4ff68"]]},{"id":"4e28f41.b65b00c","type":"function","z":"3bbff9a3.5c6156","name":"Air Temp","func":"msg.payload={AirTemp:msg.payload.slice(12,17)};\nreturn msg;","outputs":1,"noerr":0,"x":405.1856689453125,"y":277.7528076171875,"wires":[["62cad72f.5da808"]]},{"id":"2d51d371.7a80ec","type":"function","z":"3bbff9a3.5c6156","name":"Water Temp","func":"msg.payload={WaterTemp:msg.payload.slice(14,19)};\nreturn msg;","outputs":1,"noerr":0,"x":415.1856689453125,"y":313.760009765625,"wires":[["eb71cc35.c76f5"]]},{"id":"7ca9af4a.27c0d","type":"function","z":"3bbff9a3.5c6156","name":"Humidity","func":"msg.payload={Humidity:msg.payload.slice(13,17)};\nreturn msg;","outputs":1,"noerr":0,"x":408.19085693359375,"y":350.7615661621094,"wires":[["eb950934.b33db8"]]},{"id":"a6efaf49.5d322","type":"function","z":"3bbff9a3.5c6156","name":"pH","func":"msg.payload={pH:msg.payload.slice(7,10)};\nreturn msg;","outputs":1,"noerr":0,"x":391.18499755859375,"y":390.7572937011719,"wires":[["c2cf407c.2c12f","a2226a3.9a7c798"]]},{"id":"8e5cd0ca.ac87e","type":"freeboard","z":"3bbff9a3.5c6156","name":"waterlevel","x":622.1901245117188,"y":200.89913940429688,"wires":[]},{"id":"96eb80de.4ff68","type":"freeboard","z":"3bbff9a3.5c6156","name":"light","x":610.1831665039062,"y":242.8980712890625,"wires":[]},{"id":"62cad72f.5da808","type":"freeboard","z":"3bbff9a3.5c6156","name":"airtemp","x":608.1876220703125,"y":276.9010009765625,"wires":[]},{"id":"eb71cc35.c76f5","type":"freeboard","z":"3bbff9a3.5c6156","name":"watertemp","x":609.1859741210938,"y":316.8977966308594,"wires":[]},{"id":"eb950934.b33db8","type":"freeboard","z":"3bbff9a3.5c6156","name":"humidity","x":616.1907348632812,"y":351.8995666503906,"wires":[]},{"id":"c2cf407c.2c12f","type":"freeboard","z":"3bbff9a3.5c6156","name":"ph","x":601.1907348632812,"y":393.9002685546875,"wires":[]},{"id":"a2226a3.9a7c798","type":"debug","z":"3bbff9a3.5c6156","name":"","active":true,"console":"false","complete":"payload","x":537.1911315917969,"y":140,"wires":[]}]
